body {font-family: Arial, Helvetica, sans-serif;margin:0;
}
* {box-sizing: border-box;}

.bg-img {
  background-image: url("a.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  position: relative;
  
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 0px;
  width: auto;
}

/* The navbar */
#topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position:fixed;
  width:100%;
  transition: 1s;
  z-index: 2;
}


/* Navbar links */
#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Redressed', cursive;
}
#textcategory:hover{
  color:rgb(0, 170, 28);
}
.tableno{
  position: absolute;
  margin: 0px;
  width: auto;
  bottom: 10px;
  left: 10px;
  float: left;
  background-color: rgb(255, 136, 0);
  padding: 10px;
  
  font-family: 'Redressed', cursive;
  font-size: 20px;
  color: rgb(255, 255, 255);
  z-index: 0;
}
.tableno input{
  background-color: rgb(255, 255, 255);
  border: none;
  width: 80px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 40px;
  margin-left:10px;

 
}

#topnav a:hover {
  background-color: #ddd;
  color: black;
}


/*category overlay*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    transition: 0.5s;
    overflow-y: auto;
  }
  
  .overlay-content {
    position: relative;
    top: 50px;
    width: 100%;
    margin-top: 30px;
    display:block;
    text-align:center;
  }
  
  .overlay a {
    padding: 8px 20px;
    text-decoration: none;
    font-size: 36px;
    color: #e7e3e3;
    display: inline-block;
    transition: 0.3s;
    font-family: 'Redressed', cursive;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  /*category tab*/
  .tabcontent {
    display: none;
    padding: 0px 0px;
    width: auto;
    margin: 0;
    height: fit-content;
    
    
  }

/*dish card*/
.dishcard {
  position: relative;
  width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 110px;
  margin-left: 3.33%;
  float: left;
  margin-bottom: 30px;
  border-radius: 5px;
 
  z-index: -1;
}
.dishcard a{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
  transition: 1.3s;
  font-family: 'Redressed', cursive;
  text-decoration: none;
}
.dishcard a:hover{
  background-color: lightgreen;
}
.dishcard img{
  height: 80px;
  width: 80px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 50%;
}
#vegimg{
  position:absolute;
  height: 20px;
  width: 20px;
  margin: 0 0 0 5px;
  border-radius:0;
  float: left;
}
.dishcard p1{
  position: absolute;
  top: 12px;
  left:110px;
  font-size: 25px;
  color: rgb(61, 58, 58);
  line-height: 100%;

}
.dishcard p2{
  position: absolute;
  top: 10px;
  right:20px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.753);
}
.dishcard p3 {
  position: absolute;
  bottom: 10px;
  right:20px;
  font-size: 20px;
  color: rgb(73, 70, 70);
  transition: 2s;
}
p3 :hover{
  color:rgb(0, 0, 0);
}
@media screen and (max-width : 900px){
  .dishcard{
    width: 95%;
    margin-left: 2.5%;
    height: 100px;
  }
  .dishcard img{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50%;
    
  }

  #topnav a{
    font-size: 15px;
  }
  .overlay a {
    font-size: 20px;
    width: 100%;
  }
  .dishcard p1{
    top: 28px;
    left:74px;
  }
  .dishcard p1{
    top: 28px;
    left:80px;
    font-size: 20px;
  }
  .dishcard p2{
    top: 3px;
    right:10px;
    font-size: 20px;
    
  }
  .dishcard p3{
    bottom: 10px;
    right:15px;
    font-size: 13px;
  }
  #vegimg{
    position:absolute;
    height: 17px;
    width: 17px;
    margin: 0 0 0 5px;
    border-radius:0;
    float: left;
    
  }
}


.cart {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

.cart-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.cart a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.cart a:hover, .cart a:focus {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .cart a {font-size: 20px}
  .cart .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.closebtn{
  font-size: 50px;
  float: right;
}

/*tab content cart*/


.cart table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.cart table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.cart table th:nth-child(even){
  width: 30%;
}
.cart table tr:nth-child(even){background-color: #f2f2f2;}

.cart table tr:hover {background-color: #ddd;}

.cart table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.cart input{
  width: 50px;
  height: 30px;
}
.cart button{
  background-color: rgba(4, 212, 53, 0);
  border: none;
  border-radius: 5px;
  margin: 5px;
  color: rgb(63, 61, 61);
}





/*footer*/
/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  text-align: center;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .infocolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.footer{
 float: right;
  padding: 20px 15px;
  background-color: rgb(43, 41, 41);
  color: #818181;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 50px;

}

.info {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

.info-content {
  width: 100%;
  margin: 0px;
  display:block;
  float: none;
 
}
.info .closebtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 40px;
  color: rgb(65, 63, 63);
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .info {overflow-y: auto;}
  .info .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.infocolumn {
  float: left;
  width: 50%;
  padding: 0 10px;
  
}
@media screen and (max-width: 600px) {
  .infocolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
